fitness_simulation_flow.json
[{"id":"61e24c2c.a91b44","type":"tab","label":"Start Devices","disabled":false,"info":""},{"id":"3323fd1c.72878a","type":"tab","label":"Device Monitoring","disabled":false,"info":""},{"id":"e4580328.21bc1","type":"tab","label":"Usage","disabled":false,"info":""},{"id":"162b8ffb.1429d8","type":"tab","label":"Failure Simulation","disabled":false,"info":""},{"id":"baef8b46.a0b2a8","type":"tab","label":"Fitness Club Analysis Dashboard","disabled":false,"info":""},{"id":"f09fbfb4.994cd8","type":"Device Schema","z":"","deviceType":"Eliptical","props":[{"guid":"f3d6710cd520","name":"location","defaultValue":{"type":"str","value":"New York"}},{"guid":"aacee1f206b6","name":"motor_status","defaultValue":{"type":"str","value":"Normal"}},{"guid":"033f1dc5133e","name":"control_status","defaultValue":{"type":"str","value":"normal"}},{"guid":"9efe9e7e10ed","name":"intensity","defaultValue":{"type":"str","value":"0"}},{"guid":"4a22704f853e","name":"weight","defaultValue":{"type":"str","value":"0"}},{"guid":"c5c4b3b5aa9f","name":"mode","defaultValue":{"type":"str","value":"Inactive"}},{"guid":"9bca663e48de","name":"deviceId","defaultValue":{"type":"str","value":""}}],"evts":[{"guid":"c42f0c8e7759","name":"status","payload":{"properties":{"0":"f3d6710cd520","1":"aacee1f206b6","2":"033f1dc5133e","3":"9efe9e7e10ed","4":"4a22704f853e","5":"c5c4b3b5aa9f","6":"9bca663e48de","length":7,"prevObject":{"0":"f3d6710cd520","1":"aacee1f206b6","2":"033f1dc5133e","3":"9efe9e7e10ed","4":"4a22704f853e","5":"c5c4b3b5aa9f","6":"9bca663e48de","length":7,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"5":{},"6":{},"length":7,"prevObject":{"0":{"sizzle1514386444679":{"parentNode":[125814,47,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"length":1},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}}}},{"guid":"95bed3c099b7","name":"motor_fail","payload":{"properties":{"0":"f3d6710cd520","1":"aacee1f206b6","2":"c5c4b3b5aa9f","3":"9bca663e48de","length":4,"prevObject":{"0":"f3d6710cd520","1":"aacee1f206b6","2":"c5c4b3b5aa9f","3":"9bca663e48de","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1514386444679":{"parentNode":[125815,47,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"length":1},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}}}},{"guid":"f7c1a20a98af","name":"control_fail","payload":{"properties":{"0":"f3d6710cd520","1":"033f1dc5133e","2":"c5c4b3b5aa9f","3":"9bca663e48de","length":4,"prevObject":{"0":"f3d6710cd520","1":"033f1dc5133e","2":"c5c4b3b5aa9f","3":"9bca663e48de","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1514386444679":{"parentNode":[125816,47,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"length":1},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}}}},{"guid":"da34f2ab7107","name":"start","payload":{"properties":{"0":"f3d6710cd520","1":"9efe9e7e10ed","2":"4a22704f853e","3":"c5c4b3b5aa9f","4":"9bca663e48de","length":5,"prevObject":{"0":"f3d6710cd520","1":"9efe9e7e10ed","2":"4a22704f853e","3":"c5c4b3b5aa9f","4":"9bca663e48de","length":5,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"length":5,"prevObject":{"0":{"sizzle1514386444679":{"parentNode":[125817,47,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"length":1},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}}}},{"guid":"daaab38b1cae","name":"stop","payload":{"properties":{"0":"f3d6710cd520","1":"c5c4b3b5aa9f","2":"9bca663e48de","length":3,"prevObject":{"0":"f3d6710cd520","1":"c5c4b3b5aa9f","2":"9bca663e48de","length":3,"prevObject":{"0":{},"1":{},"2":{},"length":3,"prevObject":{"0":{"sizzle1514386444679":{"parentNode":[125818,47,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"length":1},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}},"context":{"sizzle1514386444679":{"parentNode":[123374.03967673675,27,true]}}}}}]},{"id":"acce261d.bf468","type":"Device Schema","z":"","deviceType":"Treadmill","props":[{"guid":"a2ce2632cfb4","name":"location","defaultValue":{"type":"str","value":"New York"}},{"guid":"1ec93371f4fe","name":"tread_status","defaultValue":{"type":"str","value":"normal"}},{"guid":"03b6d1cf2d96","name":"control_status","defaultValue":{"type":"str","value":"normal"}},{"guid":"68e56ea865f4","name":"motor_status","defaultValue":{"type":"str","value":"Normal"}},{"guid":"974973e6845d","name":"speed","defaultValue":{"type":"str","value":"0"}},{"guid":"9791d1d2c306","name":"weight","defaultValue":{"type":"str","value":"0"}},{"guid":"f93722ab1b32","name":"mode","defaultValue":{"type":"str","value":"Inactive"}},{"guid":"17ad71afa938","name":"run_time","defaultValue":{"type":"str","value":"0"}},{"guid":"de663d0a7de6","name":"deviceId","defaultValue":{"type":"str","value":""}}],"evts":[{"guid":"5a7bf07d1fdc","name":"tread_fail","payload":{"properties":{"0":"a2ce2632cfb4","1":"1ec93371f4fe","2":"f93722ab1b32","3":"de663d0a7de6","length":4,"prevObject":{"0":"a2ce2632cfb4","1":"1ec93371f4fe","2":"f93722ab1b32","3":"de663d0a7de6","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1514751556219":{"parentNode":[47784,53,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"length":1},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}}}},{"guid":"3c3fe4096401","name":"control_fail","payload":{"properties":{"0":"a2ce2632cfb4","1":"03b6d1cf2d96","2":"f93722ab1b32","3":"de663d0a7de6","length":4,"prevObject":{"0":"a2ce2632cfb4","1":"03b6d1cf2d96","2":"f93722ab1b32","3":"de663d0a7de6","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1514751556219":{"parentNode":[47785,53,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"length":1},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}}}},{"guid":"a9f47dc7cbbf","name":"motor_fail","payload":{"properties":{"0":"a2ce2632cfb4","1":"68e56ea865f4","2":"f93722ab1b32","3":"de663d0a7de6","length":4,"prevObject":{"0":"a2ce2632cfb4","1":"68e56ea865f4","2":"f93722ab1b32","3":"de663d0a7de6","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1514751556219":{"parentNode":[47786,53,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"length":1},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}}}},{"guid":"6ad559bf3fea","name":"status","payload":{"properties":{"0":"a2ce2632cfb4","1":"1ec93371f4fe","2":"03b6d1cf2d96","3":"68e56ea865f4","4":"974973e6845d","5":"9791d1d2c306","6":"f93722ab1b32","7":"de663d0a7de6","length":8,"prevObject":{"0":"a2ce2632cfb4","1":"1ec93371f4fe","2":"03b6d1cf2d96","3":"68e56ea865f4","4":"974973e6845d","5":"9791d1d2c306","6":"f93722ab1b32","7":"de663d0a7de6","length":8,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"5":{},"6":{},"7":{},"length":8,"prevObject":{"0":{"sizzle1514751556219":{"parentNode":[47787,53,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"length":1},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}}}},{"guid":"83848c7009b9","name":"start","payload":{"properties":{"0":"a2ce2632cfb4","1":"974973e6845d","2":"9791d1d2c306","3":"f93722ab1b32","length":4,"prevObject":{"0":"a2ce2632cfb4","1":"974973e6845d","2":"9791d1d2c306","3":"f93722ab1b32","length":4,"prevObject":{"0":{},"1":{},"2":{},"3":{},"length":4,"prevObject":{"0":{"sizzle1514751556219":{"parentNode":[47788,53,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"length":1},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}}}},{"guid":"d1421eed048f","name":"stop","payload":{"properties":{"0":"a2ce2632cfb4","1":"f93722ab1b32","length":2,"prevObject":{"0":"a2ce2632cfb4","1":"f93722ab1b32","length":2,"prevObject":{"0":{},"1":{},"length":2,"prevObject":{"0":{"sizzle1514751556219":{"parentNode":[47789,53,true]}},"selector":".red-ui-editableList-item-content","context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"length":1},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}},"context":{"sizzle1514751556219":{"parentNode":[47773.16710399095,39,true]}}}}}]},{"id":"c5cffbac.5d9668","type":"wiotp-credentials","z":"","name":"Watson IoT","org":"7fbnr7","serverName":"","devType":"Eliptical","devId":"msg.payload.d.deviceId","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"2f725eed.b1310a","type":"ibmiot","z":"","name":"IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d8fbfbc6.ddca9","type":"start virtual device","z":"61e24c2c.a91b44","name":"Elipticals","deviceId":"","schema":"f09fbfb4.994cd8","outputs":1,"x":616,"y":304,"wires":[[]]},{"id":"8005828f.378d88","type":"function","z":"61e24c2c.a91b44","name":"setTreadmillDeviceID","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 3) {\n        \n        deviceId = \"00\" + (i+1); \n    } else {\n        deviceId = \"00\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":401,"y":187,"wires":[["8b8414d4.a2e91"]]},{"id":"8b8414d4.a2e91","type":"start virtual device","z":"61e24c2c.a91b44","name":"Treadmills","deviceId":"","schema":"acce261d.bf468","outputs":1,"x":614,"y":186,"wires":[[]]},{"id":"157ba245.f6df76","type":"inject","z":"61e24c2c.a91b44","name":"","topic":"","payload":"{\"instances\" : 3 }","payloadType":"json","repeat":"","crontab":"","once":true,"x":168,"y":240,"wires":[["8005828f.378d88","ddfc607c.7aad28"]]},{"id":"ddfc607c.7aad28","type":"function","z":"61e24c2c.a91b44","name":"setElipticalDEviceID","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 3) {\n        \n        deviceId = \"00\" + (i+1); \n    } else {\n        deviceId = \"00\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":399,"y":304,"wires":[["d8fbfbc6.ddca9"]]},{"id":"c7bb5ce1.47db4","type":"generate event","z":"3323fd1c.72878a","deviceId":"","schema":"acce261d.bf468","evt":"6ad559bf3fea","name":"Treadmill Status","x":472,"y":372,"wires":[["da442aba.b6f32","da3d69f3.f69118"]]},{"id":"8c08026e.43224","type":"generate event","z":"3323fd1c.72878a","deviceId":"","schema":"f09fbfb4.994cd8","evt":"c42f0c8e7759","name":"Eliptical Status","x":475,"y":549,"wires":[["70382ff5.c8ed78"]]},{"id":"3352abd9.2265e4","type":"inject","z":"3323fd1c.72878a","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":75,"y":475,"wires":[["1f5d944.58a4aec","7d3e9fa7.e26e3"]]},{"id":"1f5d944.58a4aec","type":"function","z":"3323fd1c.72878a","name":"Treadmill Status","func":"var deviceStatus = [];\nfor(var i = 0; i < 3; i++){\n    var deviceid;\n    if(i < 3) {\n        \n        deviceid = \"00\" + (i+1); \n    } else {\n        deviceid = \"00\" + (i+1);\n    }\n    deviceStatus.push({payload: {deviceId: deviceid,eventName:\"status\"}});\n}\nreturn [deviceStatus];","outputs":1,"noerr":0,"x":272,"y":372,"wires":[["c7bb5ce1.47db4","2ddd6143.f5c3c6"]]},{"id":"7d3e9fa7.e26e3","type":"function","z":"3323fd1c.72878a","name":"Eliptical Status","func":"var deviceStatus = []\nfor(var i = 0; i < 3; i++){\n    var deviceid;\n    if(i < 3) {\n        \n        deviceid = \"00\" + (i+1); \n    } else {\n        deviceid = \"00\" + (i+1); \n    }\n    deviceStatus.push({payload: {deviceId: deviceid,eventName:\"status\"}});\n}\nreturn [deviceStatus];","outputs":1,"noerr":0,"x":273,"y":549,"wires":[["8c08026e.43224"]]},{"id":"2ddd6143.f5c3c6","type":"debug","z":"3323fd1c.72878a","name":"","active":false,"console":"false","complete":"false","x":431,"y":251,"wires":[]},{"id":"da442aba.b6f32","type":"debug","z":"3323fd1c.72878a","name":"","active":false,"console":"false","complete":"true","x":650,"y":190,"wires":[]},{"id":"c998442a.45821","type":"debug","z":"e4580328.21bc1","name":"","active":false,"console":"false","complete":"payload","x":681,"y":129,"wires":[]},{"id":"142f67ff.6972a8","type":"set properties","z":"e4580328.21bc1","deviceId":"","schema":"acce261d.bf468","name":"SetTreadmillProperties","propAll":true,"prop":"03d7f639825a","valueType":"msg","value":"payload","x":706.0000228881836,"y":257.00000381469727,"wires":[[]]},{"id":"5daf75c5.743acc","type":"function","z":"e4580328.21bc1","name":"setTreadmillProperties","func":"if (msg.payload.mode===\"Active\") {\n   msg.payload.deviceId=\"00\"+(Math.floor(Math.random() * (3 - 1 + 1)) + 1);\n   msg.payload.weight=(Math.floor(Math.random() * (250 - 120 + 1)) + 120);\n   msg.payload.speed=(Math.floor(Math.random() * (10 - 1 + 1))); \n   return msg;    \n} else {\n   msg.payload.deviceId=\"00\"+(Math.floor(Math.random() * (3 - 1 + 1)) + 1);\n   msg.payload.weight=0;\n   msg.payload.speed=0;\nreturn msg;}","outputs":1,"noerr":0,"x":474.0000228881836,"y":199.00000381469727,"wires":[["c998442a.45821","142f67ff.6972a8"]]},{"id":"1e452208.26a3ee","type":"debug","z":"e4580328.21bc1","name":"","active":false,"console":"false","complete":"payload","x":683.0000228881836,"y":389.00000381469727,"wires":[]},{"id":"f9b4aa20.57a5e","type":"set properties","z":"e4580328.21bc1","deviceId":"","schema":"f09fbfb4.994cd8","name":"SetElipticalProperties","propAll":true,"prop":"03d7f639825a","valueType":"msg","value":"payload","x":703.9999694824219,"y":532.7777919769287,"wires":[[]]},{"id":"d7695681.b12518","type":"trigger","z":"e4580328.21bc1","op1":"{\"deviceId\":1,\"weight\":120,\"speed\":4,\"mode\":\"Active\"}","op2":"{\"deviceId\":1,\"weight\":0,\"speed\":0,\"mode\":\"Inactive\"}","op1type":"json","op2type":"json","duration":"60","extend":true,"units":"s","reset":"","name":"Trigger Usage","x":208.33335876464844,"y":198.55556869506836,"wires":[["5daf75c5.743acc"]]},{"id":"ef2bac78.a2ef8","type":"inject","z":"e4580328.21bc1","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"x":229.44446563720703,"y":54.11112403869629,"wires":[["d7695681.b12518"]]},{"id":"7262b9d8.55a278","type":"inject","z":"e4580328.21bc1","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"x":192.3333511352539,"y":363.6666717529297,"wires":[["1eb6921.61972ee"]]},{"id":"1eb6921.61972ee","type":"trigger","z":"e4580328.21bc1","op1":"{\"deviceId\":1,\"weight\":120,\"intensity\":0,\"mode\":\"Active\"}","op2":"{\"deviceId\":1,\"weight\":120,\"intensity\":0,\"mode\":\"Inactive\"}","op1type":"json","op2type":"json","duration":"60","extend":true,"units":"s","reset":"","name":"Trigger Usage","x":201.66667938232422,"y":471.88892936706543,"wires":[["bf2e8983.065a78"]]},{"id":"bf2e8983.065a78","type":"function","z":"e4580328.21bc1","name":"setTreadmillProperties","func":"if (msg.payload.mode===\"Active\") {\n   msg.payload.deviceId=\"00\"+(Math.floor(Math.random() * (3 - 1 + 1)) + 1);\n   msg.payload.weight=(Math.floor(Math.random() * (250 - 120 + 1)) + 120);\n   msg.payload.intensity=(Math.floor(Math.random() * (10 - 1 + 1))); \n   return msg;    \n} else {\n   msg.payload.deviceId=\"00\"+(Math.floor(Math.random() * (3 - 1 + 1)) + 1);\n   msg.payload.weight=0;\n   msg.payload.intensity=0;\nreturn msg;}","outputs":1,"noerr":0,"x":465,"y":472.9999933242798,"wires":[["f9b4aa20.57a5e","1e452208.26a3ee"]]},{"id":"940a3070.3c078","type":"generate event","z":"162b8ffb.1429d8","deviceId":"","schema":"acce261d.bf468","evt":"a9f47dc7cbbf","name":"Motor failure","x":346,"y":177,"wires":[["33f8642c.d534bc"]]},{"id":"63ea89.db81c578","type":"inject","z":"162b8ffb.1429d8","name":"","topic":"","payload":"{\"deviceId\":\"003\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":160,"y":275,"wires":[["940a3070.3c078"]]},{"id":"33f8642c.d534bc","type":"set properties","z":"162b8ffb.1429d8","deviceId":"","schema":"acce261d.bf468","name":"","propAll":false,"prop":"68e56ea865f4","valueType":"str","value":"Fail","x":632,"y":135,"wires":[[]]},{"id":"14d2d29e.0429ed","type":"device listener","z":"162b8ffb.1429d8","monitor":"property","monitorAll":true,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"acce261d.bf468","props":["68e56ea865f4"],"name":"","x":600,"y":385,"wires":[["cce94bc6.3e3f88"]]},{"id":"da3d69f3.f69118","type":"ibmiot out","z":"3323fd1c.72878a","authentication":"apiKey","apiKey":"2f725eed.b1310a","outputType":"evt","deviceId":"msg.payload.d.deviceid","deviceType":"Treadmill","eventCommandType":"status","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":690,"y":372,"wires":[]},{"id":"70382ff5.c8ed78","type":"ibmiot out","z":"3323fd1c.72878a","authentication":"apiKey","apiKey":"2f725eed.b1310a","outputType":"evt","deviceId":"msg.payload.d.deviceid","deviceType":"Eliptical","eventCommandType":"motor_failure","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":684,"y":549,"wires":[]},{"id":"cce94bc6.3e3f88","type":"ibmiot out","z":"162b8ffb.1429d8","authentication":"apiKey","apiKey":"2f725eed.b1310a","outputType":"evt","deviceId":"msg.payload.d.deviceid","deviceType":"Treadmill","eventCommandType":"motor_failure","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":815,"y":385,"wires":[]},{"id":"61364626.00a2a8","type":"http in","z":"baef8b46.a0b2a8","name":"","url":"/app","method":"get","upload":false,"swaggerDoc":"","x":260,"y":220,"wires":[["9a7488ed.562f08"]]},{"id":"ef75746b.b26e08","type":"http response","z":"baef8b46.a0b2a8","name":"","statusCode":"","headers":{},"x":910,"y":220,"wires":[]},{"id":"9a7488ed.562f08","type":"template","z":"baef8b46.a0b2a8","name":"Fitness Equipment Analytics Portal","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"http://www.w3schools.com/lib/w3.css\" />\n\t<title>Fitness Club USA</title>\n\t<style>\n\t\t* {\n\t\t\tbox-sizing: border-box;\n\t\t}\n\t\tbody {\n\t\t\tbackground: grey;\n\t\t\toverflow: hidden;\n\t\t}\n\t\t.main-nav {\n\t\t\theight: 60px;\n\t\t\tfont-size: 15px;\t\t\t\n\t\t\t/* background: #3D4852; */\n\t\t\tbackground: #273A47;\n\t\t\tfont-family: Helvetica, Arial, sans-serif;\t\t\t\n\t\t\tcolor: white;\t\t\n\t\t\tdisplay: flex;\n\t\t\tflex-wrap: wrap;\n\t\t\tjustify-content: space-between;\n\t\t}\t\n\t\t#main-nav-logo {\n\t\t\tpadding: 10px 20px 10px 20px;\n\t\t}\t\t\n\t\t#main-nav-logo img {\n\t\t\twidth: 50px;\n\t\t\theight: 30px;\n\t\t\tmargin-right: 20px;\n\t\t}\n\t\t#main-nav-list {\n\t\t\tmargin-right: 10px;\n\t\t}\n\t\t#main-nav-list img {\n\t\t\twidth: 20px;\n\t\t\theight: 20px;\n\t\t\tmargin: 0px 10px 0px 10px;\n\t\t\tfloat: left;\n\t\t}\n\t\t.main-nav-label {\n\t\t\tfloat: left;\n\t\t}\t\t\n\t\t#main-nav-list a:hover{\n\t\t\tbackground: grey;\n\t\t\tcolor: white;\n\t\t}\n\t\t#main-nav-list a:focus {\n\t\t\tbackground: #11293F;\n\t\t\tcolor: white;\n\t\t}\t\t\n\t\t.main-nav ul {\n\t\t\tmargin: 0;\n\t\t\tpadding: 0;\n\t\t\tdisplay: flex;\n\t\t\tflex-wrap: wrap;\n\t\t\tjustify-content: flex-start;\n\t\t\tlist-style: none;\n\t\t}\n\t\t.main-nav a {\n\t\t\ttext-decoration: none;\n\t\t\tpadding: 20px 30px 10px 10px;\n\t\t\tmax-width: 200px;\n\t\t\theight: 100%;\n\t\t\tdisplay: flex;\n\t\t\talign-items: flex-start;\n\t\t}\t\n\t\t#welcomePage {\n\t\t\tbackground: url(\"/bi/samples/go_lake.jpeg\") no-repeat;\n\t\t\tposition: absolute;\n\t\t\tz-index: 1000;\n\t\t\tbackground-size: 100% 100%;\n\t\t\twidth: 100%;\n\t\t\t/*\n\t\t\tbackground-size: contain;\n\t\t\tbackground-position: center center;\n\t\t\tdisplay: inline-block;\n\t\t\tmax-width: 960px;\n\t\t\tmax-height: 640px;\n\t\t\t*/\n\t\t}\n\t\t#mainFrame {\n\t\t\twidth: 100%;\n\t\t\theight: 100%;\n\t\t\tborder: none;\n\t\t\t/* display: none; */\n\t\t\topacity: 0;\n\t\t\tposition: absolute;\t\n\t\t\tz-index: -1000;\n\t\t}\n\t\t.tile-container {\n\t\t  display:flex;\n\t\t  flex-wrap:wrap;\n\t\t  align-items: stretch;\n\t\t  max-width: 80%;\n\t\t  margin: 0 10% 0 10%;\n\t\t  padding-top: 50px;\n\t\t}\n\t\t.tile-image {\n\t\t\twidth:100px;\n\t\t\theight:100px;\n\t\t\tfloat: left;\n\t\t}\n\t\t.tile svg {\n\t\t\tfill: white;\n\t\t}\n\t\t.tile-text {\n\t\t\twidth: 60%;\n\t\t\tfloat: left;\n\t\t\tmargin-left: 30px;\n\t\t\tcolor: white;\n\t\t}\n\t\t.tile-text p {\n\t\t\tmargin: 0px;\n\t\t\tfont-size: 12pt;\n\t\t}\n\t\t.tile-text span {\n\t\t\tfont-size: 10pt;\n\t\t}\n\t\t.tile-text img {\n\t\t\twidth: 25px;\n\t\t\theight: 25px;\n\t\t\tfloat: right;\n\t\t}\n\t\t.tile{\n\t\t  flex:1 0 300px;\n\t\t  align-self:stretch;\n\t\t  max-width:100%;\n\t\t  min-height: 10rem;\n\t\t  margin:5px;\n\t\t  border: 3px solid #273A47;\n\t\t  background: #273A47;\n\t\t  /*\n\t\t  opacity: 0.5;\n\t\t  filter: alpha(opacity=50); \n\t\t  */\n\t\t  cursor: pointer;\n\t\t  padding: 20px;\n\t\t  // Min width\n\t\t  &:nth-child(2n+3){\n\t\t\tflex-basis:250px;\n\t\t  }\n\t\t  &:nth-child(4n+5){\n\t\t\tflex-basis:450px;\n\t\t  }\n\t\t  // End Min width\n\t\t  // Color\n\t\t  &:nth-child(odd){\n\t\t\t border-top-color:teal;\n\t\t  }\n\t\t  &:nth-child(even){\n\t\t\t border-top-color:wheat;\n\t\t  }\n\t\t  // End Color\n\t\t}\n\t\t@media screen and(max-width:500px){\n\t\t  .tile{\n\t\t\t flex-basis:100% !important;\n\t\t\t max-width:100%;\n\t\t  }\n\t\t}\n\t\t#progress-screen {\n\t\t\twidth: 100%;\n\t\t\tpadding-top: 200px;\n\t\t\tdisplay: none;\n\t\t\tz-index: 2000;\n\t\t}\n\t\t#progress-screen div {\n\t\t\twidth:300px;\n\t\t\theight:300px;\n\t\t\tmargin-left:auto;\n\t\t\tmargin-right:auto;\n\t\t}\n\t</style>\n\t<script>\n\t\tvar CogNos = {};\n\t\tCogNos.init = (function(iframe){\n\t\t\t// -- initialize the page\n\t\t\tCogNos.initDOJO();\n\t\t\tCogNos.innerHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;\n\t\t\tCogNos.mainFrame = iframe;\t\t\n\t\t\tCogNos.mainFrame.style.height = CogNos.innerHeight-60 + 'px'; \n\t\t\tCogNos.welcomePage = document.getElementById(\"welcomePage\");\n\t\t\tCogNos.welcomePage.style.height = CogNos.mainFrame.style.height;\t\t\n\t\t});\n\t\tCogNos.initDOJO = (function(){\n\t\t\t// -- load dojo library\n\t\t\tif (!window.dojo) {\n\t\t\t\tvar head = document.getElementsByTagName('HEAD').item(0);\n\t\t\t\tvar node = document.createElement('SCRIPT');\n\t\t\t\tnode.type = 'text/javascript';\n\t\t\t\tnode.src = 'https://ajax.googleapis.com/ajax/libs/dojo/1.11.2/dojo/dojo.js';\n\t\t\t\thead.appendChild(node);\n\t\t\t}\n\t\t});\t\t\n\t\tCogNos.setView = (function(id){\n\t\t\t// -- set visible view\n\t\t\tswitch (id) {\n\t\t\t\tcase \"welcomePage\":\n\t\t\t\t\t// -- show welcomePage view\n\t\t\t\t\tCogNos.frameFadeOut(document.getElementById(\"mainFrame\"));\t\t\t\n\t\t\t\t\tCogNos.frameFadeOut(document.getElementById(\"welcomePage\"));\n\t\t\t\t\t//document.getElementById(\"welcomePage\").style.display=\"block\";\n\t\t\t\t\t//document.getElementById(\"mainFrame\").style.display=\"none\";\n\t\t\t\t\tCogNos.frameFadeIn(document.getElementById(\"welcomePage\"));\t\t\t\t\t\n\t\t\t\t\tbreak;\n\t\t\t\tdefault:\n\t\t\t\t\t// -- show mainFrame view\n\t\t\t\t\tCogNos.frameFadeOut(document.getElementById(\"mainFrame\"));\t\t\t\n\t\t\t\t\tCogNos.frameFadeOut(document.getElementById(\"welcomePage\"));\n\t\t\t\t\t//document.getElementById(\"welcomePage\").style.display=\"none\";\t\t\n\t\t\t\t\t//document.getElementById(\"mainFrame\").style.display=\"block\";\t\n\t\t\t\t\tsetTimeout(function(){ document.getElementById(\"progress-screen\").style.display=\"none\"; CogNos.frameFadeIn(document.getElementById(\"mainFrame\"));}, 3000);\n\t\t\t}\n\t\t});\n\t\tCogNos.openURL = (function(URL){\n\t\t\t// -- open url in mainFrame view\n\t\t\tdocument.getElementById(\"progress-screen\").style.display=\"block\";\t\t\t\t\n\t\t\tCogNos.mainFrame.src = URL;\n\t\t\tsetTimeout(function(){ document.getElementById(\"progress-screen\").style.display=\"none\"; }, 3000);\n\t\t\tCogNos.setView(\"mainFrame\");\n\t\t});\t\t\n\t\tCogNos.frameFadeIn = (function(frame){\n\t\t\t// -- display view\n\t\t\tdojo.style(frame, \"opacity\", \"0\");\n\t\t\tdojo.style(frame, \"z-index\", \"1000\");\t\t\t\n\t\t\tvar fadeArgs = {\n\t\t\t\tnode: frame,\n\t\t\t\tduration: 500\n\t\t\t};\n\t\t\tdojo.fadeIn(fadeArgs).play();\t\t\n\t\t});\n\t\tCogNos.frameFadeOut = (function(frame){\n\t\t\t// - hide view\n\t\t\tdojo.style(frame, \"opacity\", \"1\");\n\t\t\tdojo.style(frame, \"z-index\", \"-1000\");\t\t\t\t\n\t\t\tvar fadeArgs = {\n\t\t\t\tnode: frame,\n\t\t\t\tduration: 0\n\t\t\t};\n\t\t\tdojo.fadeOut(fadeArgs).play();\t\t\n\t\t});\t\t\n\t</script>\n</head>\n<body>\n\t<nav role='navigation' id=\"main-nav\" class=\"main-nav\">\n\t  <ul>\n\t\t<li id=\"main-nav-logo\">\n\t\t\t<img src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ-fdteozBRKDoz3IzgAGWDHc2r4FRgeJOhpKKTVrHtWbC7QZf\"></img><span>Fitness Club USA&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;FITNESS EQUIPMENT ANALYTICS</span>\n\t\t</li>\n\t  </ul>\n      <!--\n\t  <ul>\n\t\t<li style=\"padding-top: 20px\">\n\t\t\t<span>RETAIL ANALYTICS</span>\n\t\t</li>\n\t  </ul>\n\t\t-->\n    </nav>\n\t  <iframe src=\"http://169.60.14.104:9300/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FFitness%2FTreadmill+User+Trends&amp;ui_appbar=false&amp;ui_navbar=false&amp;action=view&amp;mode=dashboard\" width=\"1500\" height=\"600\"></iframe>\n\t\n</body>\n</html>\n","output":"str","x":580,"y":180,"wires":[["ef75746b.b26e08"]]}]
